@import "tailwindcss";

@theme {

/*COCTELERIA*/


  /* ─── Pastelería ─── */
  --color-pastel-red: #E53831;
  --color-pastel-red-hover: #c92e28;
  --color-pastel-brown: #6D3B24;
  --color-pastel-peach: #EFB8A3;
  --color-pastel-pink: #EB7DA4;
/*SUCULENTAS*/

  --color-terra: #BE5236;
  --color-terra-hover: #a8452e;
  --color-terra-dark: #9e422c;
  --color-cream: #F5F0EB;

}



